.users-list {
    text-align: center;
    color: blue;
    font-size: 26px;
}

.users-list-div {
    margin-left: 4%;
}

.edit-btn {
    background-color: rgba(55, 233, 55, 0.671);
    padding: 10px 27px;
    border-color: rgba(55, 233, 55, 0.671);
    border-radius: 7px;
}

.delete-btn {
    background-color: rgb(236, 118, 98);
    padding: 10px 27px;
    border-color: rgb(236, 118, 98);
    border-radius: 7px;
}

.id-text {
    color: blue;
}

.create-user-heading {
    text-align: center;
    color: blue;
    font-size: 26px;
}

.create-user-form {
    margin-left: 42%;
    margin-right: 42%;
    background-color: lightgray;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.input-fields {
    height: 35px;
    border-radius: 7px;
    border-color: rgba(0, 0, 255, 0.479);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 8);
    transition: box-shadow 0.3s ease-in-out;
}

.create-user-btn {
    background-color: rgba(0, 0, 255, 0.726);
    border-color: rgba(0, 0, 255, 0.726);
    color: antiquewhite;
    padding: 10px 22px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 8);
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 15%;
    margin-right: 15%;
}
li{
    list-style: decimal-leading-zero;
    margin-top: 4%;
    margin-bottom: 4%;
}  